# StackAPI

#### Import the necessary libraries here:

In [17]:
# your code here
# import sys 
# !{sys.executable} -m pip install stackapi
from stackapi import StackAPI
from datetime import datetime

#### Question 1: Find the questions and answers of last month.

In [20]:
# your code here
SITE = StackAPI('stackoverflow')
questions = SITE.fetch('questions', min=datetime(2020, 7, 12), max=datetime(2020, 8, 12))
#questions

answers = SITE.fetch('answers', min=datetime(2020, 7, 12), max=datetime(2020, 8, 12))
#answers

#### Question 2: Find the most voted question today with at least a score of 5 and tagged with 'python'.

In [33]:
# your code here
voted_today = SITE.fetch('questions', fromdate=datetime(2020,8,11), tagged='python', min=5, sort='votes', order='desc')
#voted_today

#### Question 3: Find the answers with id 6784 and 6473.

In [48]:
# changed second one to 6474 because 6473 don't exist
answers_id = SITE.fetch('answers', ids=[6784, 6474])
#answers_id


# data = pd.DataFrame(answers_id)
# data

,backoff,has_more,page,quota_max,quota_remaining,total,items
0,0,False,1,300,300,0,"{'owner': {'reputation': 29025, 'user_id': 758..."
1,0,False,1,300,300,0,"{'owner': {'reputation': 20681, 'user_id': 92,..."